/*COLOR SETUP*/

$black: #151515;
$white: #ffffff;
$title: 2.4rem;
$subtitle: 1rem;

*{
  margin: 0;
  padding: 0;
}

html,body{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  width: 100%;
  height: 100%;
}

  /**NAVBAR**/
/*  .navbar{
    height: 60px;
    background-color: $black;
    position: fixed;
    width: 100vw;
  }

    nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
    }

    nav.black ul {
      background: #000;
    }

    nav ul li {
      display: inline-block;
      padding: 16px 40px;;
    }

    nav ul li a {
      text-decoration: none;
      font-size: 16px;
      color: $white;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    #nav-bis{
      display: none;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100vw;
      height: 100vh;
      transition: all ease-in 0.4s;
    }

  .navbar-brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-opened{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    transition: all ease-in 0.4s;

    li{
      margin-bottom: 2em;
      text-align: center;
      padding: 0 1em;
    }
    .nav-item{
      color: $white;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }*/

  .small-logo{
    display: block;
    width: 6em;
  }

  .small-open{
    display: block;
    width: 1.8em;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }

  .hidden-all{
    display: none;
  }

  h1{
    font-size: $title;
    margin-bottom: 10px;
    margin-top: 20px;
    color: $black;
    font-weight: 700;
    line-height: 2.4rem;
    /*border-bottom: 10px solid #f15a24;*/
    margin-left: 1rem;
  }

  h2{
    font-size: $subtitle;
    margin-top: 1em;
  }

  p{
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 1em;
  }

  .btn-black{
    background-color: $black;
    border-radius: 5px;
    border-color: transparent;
    -webkit-appearance: none;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    margin: 1rem 0;
    width: 100%;
    display: block;
    text-align: center;
    color: $white;
    font-size: 1.8rem;
    text-decoration: none;
  }

  .btn-black-reverse{
    background-color: $white;
    border-radius: 5px;
    border-color: $black;
    -webkit-appearance: none;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    margin: 1rem 0;

    .btn-black-reverse:hover{
      background-color: $black;
      color: white;
    }

    a{
      color: $black;
      font-size: 1.8rem;
      text-decoration: none;
    }
  }

  .chien {
    background-image: url('../img/skybg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

  }
.landing-section{
  justify-content: center;


  h1{
    color: $white;
    text-align: center;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    border : transparent;
  }

  h2{
    color: $white;
    text-align: center;
    padding: 1.8rem;
    margin-top: -4em;
  }

  p{
    color: white;
  }

  #logo-obs{
    display: block;
    z-index: 9999;
  }

  #menu-open-cta{
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  #menu-close-cta{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  #arrow-gobot{
    width: 40%;
    display: block;
    margin: 0 auto;
  }

  #nav{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    transition: all ease-in 0.4s;

    li{
      margin-bottom: 2em;
      text-align: center;
      padding: 0 1em;
    }
    .nav-item{
      color: $white;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

article{

  h2{
    color: $black;
    font-weight: 700;
    line-height: 2.4rem;
    /*border-bottom: 10px solid #f15a24;*/
    margin-left: 1rem;
    font-size: 2.5rem;
  }

  a{
    color: $black;
    font-weight: 700;
  }

  legend{
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  img{
    margin: 1rem 0;
  }

  #img-lens{
    max-width: 100%;
  }
}

  #cta-gotop{
    width: 40%;
    margin-top: 2em;
    margin-bottom: 1.2em;
  }

  .center-btn{
    display: flex;
    justify-content: center;
  }
  .arrow-to-top{
    justify-content: flex-end;
  }

  .card{
    background-size: auto;
    background-position: top;
    height: 400px;
    max-width: 300px;
    border-radius: 25px;
    margin-bottom: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    display: block;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    -moz-box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    padding: 0;
  }

  .card-content {
    background-color: #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
  }

  .media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    display: block;
  }

  .card-text{
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    padding-left: -1rem;
    padding-right: -1rem;
  }

  .card-galerie{
    background-size: cover;
    background-position: center bottom;
    height: 400px;
    max-width: 300px;
    border-radius: 25px;
    margin-bottom: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    display: block;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    -moz-box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    padding: 0;
  }

  .card-content-galerie {
    background-color: #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100px;
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
  }

  .media-content-galerie {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    display: block;
  }

  .card-title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .card-blog{
    background-size: cover;
    background-position: top center;
    height: 400px;
    max-width: 300px;
    border-radius: 25px;
    margin-bottom: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    display: block;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    -moz-box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    box-shadow: 0px 20px 50px 0px rgba(35, 32, 32, 0.2);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    padding: 0;
  }

  .card-content-blog {
    background-color: #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
  }

  .media-content-blog {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    text-align: center;
    box-sizing: border-box;
    display: block;
  }

  .card-title-blog{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0rem;
  }

  .card-text-blog{
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.2rem;
    padding-left: -1rem;
    padding-right: -1rem;
    margin-top: 1rem;
  }

  .title-shadow{
    box-shadow: 0px 2px 0px $black;
  }

  form{

    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

    label{
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 0.6rem;
    }

    input, select, textarea{
      border-color: $black;
      border-radius: 5px;
      margin-bottom: 1.2rem;
      padding: 1rem;
    }
  }

  footer{
    background-color: $black;
    padding: 1.2em;
    box-sizing: border-box;

    #footer-text{
      color: $white;
      font-size: 0.9rem;
      line-height: 1.2rem;
      text-align: right;
    }
}

/***NAV AUTRES PAGES***/

/***DESKTOP***/

@media only screen and (min-width: 64em) {

  .article-row{
    margin-top: 12em;
  }

  .landing-section{

    h1{
      text-align: left;
      margin-top: 3em;
    }

    h2{
      color: $white;
      text-align: center;
      padding: 1.8rem;
      margin-top: -8em;
    }

    p{
      color: white;
    }

    #logo-obs{
      display: block;
      z-index: 9999;
      position: absolute;
      width: 10em;
      top: 2%;
      left: 5%;
    }

    #menu-open-cta{
      width: 3em;
      display: block;
      margin: 0 auto;
      position: absolute;
      top: 5%;
      left: 50%;

    }

    #menu-close-cta{
      width: 3em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      margin-top: 4rem;
    }

    #arrow-gobot{
      width: 3em;
      display: block;
      position: absolute;
      right: 5%;
      bottom: 10%;
    }

    #nav{
      display: none;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100vw;
      height: 100vh;
      transition: all ease-in 0.4s;

      li{
        margin-bottom: 2em;
        text-align: center;
        padding: 0 1em;
      }
      .nav-item{
        color: $white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .navbar-main{
      display: flex;
      justify-content: space-around;
    }
  }

  article{

    h1{
      color: $black;
      font-weight: 700;
      line-height: 2.4rem;
      /*border-bottom: 10px solid #f15a24;*/
      margin-left: 1rem;
    }

    a{
      color: $black;
      font-weight: 700;
    }

    legend{
      text-align: center;
      margin-top: -1rem;
      margin-bottom: 1rem;
    }

    img{
      margin: 1rem 0;
    }

    #img-lens{
      width: auto;
    }
  }

    #cta-gotop{
      width: 40%;
      margin-top: 2em;
      margin-bottom: 1.2em;
    }

    .center-btn{
      display: flex;
      justify-content: center;
    }
    .arrow-to-top{
      justify-content: flex-end;
    }

    #ephe{
      width: 100%;
    }

}

.hidden {
  display: none;
}
